# Ignore dataset and output directories
data/dataset/
data/output/

# Ignore model binaries and training checkpoints
models/binaries/
models/checkpoints/

# Ignore experiment run logs
/runs/

# Ignore system and Python cache files
.DS_Store
__pycache__/
*.ipynb_checkpoints

# Ignore Python virtual environment
venv/